section#section2{
  .introArticle{
    position: relative;
  }
  .date{
    position: absolute;
    right: 10px;
    top: 0;
    padding: 5px 10px;
    color: #aaa;
    font-size: 14px;
    background-image: url("/assets/img/globo.jpg");
    background-size: cover;
    background-position: center top;
    height: 40px;
    @media (max-width: 767px) and (min-width: 576px){
      top: 16px;
    }
    @media (max-width: 575px){
      top: 16px;
    }
  }
  .title-article{
    font-weight: 300;
  }
  .page-item.active .page-link{
    background: #ff39be;
    color: white;
    border: 1px solid #bbb;
  }
  .page-link{
    color: #777;
  }
}
