#banner{
  .fade-slider{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    @media (max-width: 767px) and (min-width: 576px){
      height: 72px;
    }
    @media (max-width: 575px){
      height: 17vw;
    }
  }
}
.bannerEstatico{
  background-color: rgba(0,0,0,0);
}