footer{
  .redes-movil{
    position: fixed;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0%);
    ul{
      li{
        i{
          cursor: pointer;
          width: 35px;
          line-height: 35px;
          @media (max-width: 1199px) and (min-width: 992px){
            width: 4vw;
            line-height: 4vw;
          }
        }
        .fa-facebook-square{
          background-color:  $bg-dodgerblue;
        }
        .fa-instagram{
          background-color: $bg-rosybrown;
        }
        .fa-twitter{
          background-color: $bg-deepskyblue;
        }
        .fa-youtube{
          background-color: $bg-tomato;
        }
        .fa-snapchat-ghost{
          background-color: $bg-coral;
        }
      }
    }
  }
}