header{
  background-color: rgba(0,0,0,0.5);
  .logotipo{
    width: 45%;
    @media (max-width: 1199px) and (min-width: 992px){
      width: 45%;
    }
    @media (max-width: 991px) and (min-width: 768px){
      width: 55%;
    }
    @media (max-width: 767px) and (min-width: 576px){
      width: 65%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  .redes{
    ul{
      li{
        i{
          cursor: pointer;
          width: 35px;
          line-height: 35px;
          @media (max-width: 1199px) and (min-width: 992px){
            width: 4vw;
            line-height: 4vw;
          }
        }
        .fa-facebook-square{
          background-color:  $bg-dodgerblue;
        }
        .fa-instagram{
          background-color: $bg-rosybrown;
        }
        .fa-twitter{
          background-color: $bg-deepskyblue;
        }
        .fa-youtube{
          background-color: $bg-tomato;
        }
        .fa-snapchat-ghost{
          background-color: $bg-coral;
        }
      }
    }
  }
  .fa-search{
    font-size: calc(1vw + 7px);
    @media (max-width: 991px) {
      display: none;
    }
  }
  .fa-bars{
    font-size: calc(1vw + 35px);
    line-height: 2vw;
    @media (max-width: 1440px) and (min-width: 1200px){
      line-height: 3vw;
    }
    @media (max-width: 1199px) and (min-width: 992px){
      line-height: 4vw;
    }
    @media (max-width: 991px) and (min-width: 768px){
      line-height: 5vw;
    }
    @media (max-width: 767px) and (min-width: 576px){
      line-height: 6vw;
    }
    @media (max-width: 575px) {
      line-height: 10vw;
    }
  }
}