
$fuente-principal: 'Open Sans', sans-serif;
$fuente-secundaria: 'Chewy', cursive;

$bg-dodgerblue: dodgerblue;
$bg-rosybrown: rosybrown;
$bg-deepskyblue: deepskyblue;
$bg-tomato: tomato;
$bg-coral: coral;

ul, ol{
  list-style: none;
}

a:visited, a:link, a:focus, a:hover a:active{
  list-style: none;
  text-decoration: none;
}